
    /*-- TABLE OF CONTENTS 
-----------------------
    
    01. Google Font Import
    02. Default CSS
    03. Section Padding 
    04. Section Title  
    05. Button  
    06. Form 
    07. Bootstrap Customize 
    08. Bacground Color & Overlay
    09. Read More Link
    10. Margin & Padding 
    11. Preloader
    12. Mouse Cursor
    13. Search Form 

    14. Header Area
    15. Main Menu 
    16. Mobile Menu  
    17. Off Canvas Menu

    18. Hero Area CSS
    19. About CSS
    20. Service CSS
    21. Project CSS
    22. Process CSS
    23. FAQ CSS 
    24. Video CSS 
    25. Testimonial CSS
    26. Blog CSS 
    27. Counter CSS 
    28. CTA CSS 
    29. Feature Slider CSS 
    30. Team 
    31. Footer Area CSS 
    32. Breadcrumb CSS 
    33. Contact CSS 
    34. Feature CSS 
    35. Price CSS 
    36. Award CSS 
    

--------------------*/

/*-- 01. Google Font Import 
-----------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


/*--02. Default CSS
----------------- */

html,
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  font-family: $grotesk;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  position: relative;
  z-index: 1;
  background: #fff;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  color: $primary_color;
  font-family: $grotesk;
  font-weight: 400;
  margin: 0;
  letter-spacing: -1px;
}


a {
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: $primary_color;
  &:hover {
    color: $secondary_color;
  }
}

p {
  font-family: $grotesk;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  position: relative;
  color: $body_text;
  @media #{$lg}{
    font-size: 16px;
  }
  @media #{$md}{
    font-size: 15px;
    line-height: 25px;
  }
  @media #{$xs}{
    font-size: 15px;
    line-height: 25px;
    margin: 0;
  }
}

.p-xl{
  font-size: 24px;
  font-weight: 400;  
  line-height: 38px;
  color: #fff;
  @media #{$lg}{
    font-size: 24px;
  }
  @media #{$md}{
    font-size: 18px;
    line-height: 28px;
  }
  @media #{$xs}{
    font-size: 16px;
    line-height: 1.5;
  }
}


button,
input,
textarea,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
  outline-width: 0 !important;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

img {
  display: inline-block;
  max-width: 100%;
}

i,
span,
a {
  display: inline-block;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

table,
th,
tr,
td {
  border: 1px solid #ddd;
}

th,
tr,
td {
  padding: 10px;
}

hr {
  border-top: 1px solid #777;
}

.fix {
  overflow: hidden;
}


/* 03. Section Padding CSS
--------------------------*/

.section-padding {
  padding: 120px 0;
  @media #{$lg} {
    padding: 100px 10px;
  }
  @media #{$md} {
    padding: 90px 30px;
  }
  @media #{$xs} {
    padding: 60px 10px;
  }
  @media #{$sm} {
    padding: 40px 10px;
  }
  
}

/* -- 04. Section Title 
-----------------------*/

.section-title {
  position: relative;
  margin-bottom: 30px;  
  @media #{$md} {
    margin-bottom: 20px;
  }
  @media #{$xs} {
    margin-bottom: 10px;
  }
}

.section-title h1 {
  font-size: 80px;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: -2px;
  color: $primary_color;

  @media #{$lg} {
    font-size: 60px;
    line-height: 70px;
  }

  @media #{$md} {
    font-size: 50px;
    line-height: 60px;
  }

  @media #{$xs} {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0px;
  }
  @media #{$sm} {
    font-size: 40px;
    line-height: 50px;
  }
}

.green-bg .section-title h1{
  @media #{$xs} {
    font-size: 30px;
    line-height: 40px;
  }
}


.section-title h2 {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: -1px;
    color: $theme_color;

  @media #{$lg} {
    font-size: 40px;
    line-height: 50px;
    margin: 0;
  }

  @media #{$md} {
    font-size: 40px;
    line-height: 50px;
    margin: 0;
  }

  @media #{$xs} {
    font-size: 30px;
    line-height: 40px;
    margin: 15px 0;
  }

  @media #{$sm} {
    font-size: 40px;
    line-height: 50px;
    margin: 15px 0;
  }
}

.section-title.text-up h2 {
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1;
  display: inline-block;  
  @media #{$xs} {
    font-size: 50px;    
    margin: 15px 0;
  }
}

.section-title.text-up h2 span {
  position: absolute;
  top: -10px;
  right: -20px;
  font-size: 18px;
  font-weight: 400;
}

.section-title.text-low h2 {
  position: relative;
  display: inline-block;
}

.section-title.text-low h2 span {
  position: absolute;
  bottom: 15px;
  right: -25px;
  font-size: 18px;
  font-weight: 400;
}

.section-title h3 {
  font-size: 30px;
  line-height: 40px;

  @media #{$lg} {
    font-size: 30px;
    line-height: 30px;
  }

  @media #{$md} {
    font-size: 36px;
    line-height: 40px;
  }

  @media #{$xs} {
    font-size: 24px;
    line-height: 30px;
  }
}

.section-title h6 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: $theme_color;
  background: #eee;
  display: inline-block;
  padding: 7px 10px;
}

.section-title p {
  margin: 0;
}

.section-title span {
  color: $theme_color;
  color: #1D1E21;
  font-weight: 300;
  letter-spacing: -3px;
}

.section-title span i {
  color: #ddd;
  font-size: 80px;
  @media #{$xs} {
    font-size: 40px;    
  }
}

.section-title img {
  border-radius: 50px;
  height: 55px;
  position: relative;
  bottom: 5px;
  @media #{$xs}{
    display: none;
  }
}

/* -- 05. Button Style 
----------------------*/

.theme-btn {
  display: inline-flex;
  background: $theme_color;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 18px 30px;
  border: 1px solid $theme_color;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  @media #{$xs} {        
		padding: 15px 32px;
	} 
  &:hover{
    background: $primary_color;
    border-color: $primary_color;
    color: #fff;    
  }
}

.primary-btn{
  @extend .theme-btn;
  background: $primary_color;
  border-color: $primary_color;
  color: #fff;
  &:hover{
    background: #fff;
    color: $primary_color;
    border-color: $primary_color;
  }
}

.white-btn{
  @extend .theme-btn;
  background: #fff;
  border-color: #fff;
  color: #333;
  &:hover{
    background: $theme_color;
    color: #fff;
    border-color: $theme_color;
  }
}


/*--06. Form Style CSS 
----------------------*/

input,
textarea,
select {
  width: 100%;
  background: transparent;
  border: 1px solid #ddd;
  padding: 13px 20px;
  font-size: 14px;
  letter-spacing: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

textarea {
  height: 200px;
}

input[type="submit"],
button[type="submit"] {
  background: $theme_color;
  border-color: $theme_color;
  border-radius: 0;
  display: inline-block;
  color: #fff;  
  width: 30%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  @media #{$xs}{
    width: 100%;
  }
}

input[type="submit"]:hover,
button[type="submit"]:hover {
  background: $primary_color;
  color: #fff;
}

input::placeholder,
textarea::placeholder {
  font-size: 15px;
  font-weight: 400;
}

input.form-control {
  padding: 12px 20px;
  line-height: 1.2;
}

/*--07. Bootstrap Customize CSS
--------------------------------*/

.container-fluid {
  // padding: 0 20px;
  @media #{$xs}{
    padding: 0 10px;
  }
}

.container {
  max-width: 1230px;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

/* 08. Bacground Color & Overlay CSS 
------------------------------------ */

.theme-bg{
  background: $theme_color;
}

.dark-bg {
  background: $primary_color;
}

.gray-bg {
  background: #F5F5F7;
}

.white-bg {
  background: #fff!important;
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.overlay {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: $primary_color;
  opacity: 0.1;
  top: 0;
  left: 0;
  z-index: -1;
}

.overlay-2 {
  @extend .overlay;
  opacity: .2;
}
.overlay-3 {
  @extend .overlay;
  opacity: .3;
}
.overlay-4 {
  @extend .overlay;
  opacity: .4;
}
.overlay-5 {
  @extend .overlay;
  opacity: .5;
}

.overlay.active {
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
	content: "";
	background-color: #000;
	z-index: 99;
	opacity: 0.5;
	visibility: visible;
  }

.text-dark {
  color: $text_dark !important;
}

.text-white {
  color: #fff !important;
}

.fix {
  overflow: hidden;
}

.separator {
  display: block;
  background-color: #ddd;
  width: 30px;
  height: 3px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.b-none{
  border: none !important;
}


/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


/* 09. Read More Link  */

.read_more_link {
    position: relative;
    display: inline-block;
    top: auto;
    left: auto;
    height: auto;
    width: auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    color: $text_dark;
    z-index: 1;
    overflow: hidden;
}

.read_more_link .link_text {
    position: relative;
    margin-right: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 500;
    text-indent: -110px;
    visibility: hidden;
    white-space: nowrap;
    opacity: 0;
    transition: visibility .4s ease, margin-right .4s ease-out, text-indent .5s ease-out, opacity .4s ease;
    will-change: visibility, margin-right, text-indent, opacity;
}

.read_more_link .link_icon i {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    font-size: 24px;
    line-height: 34px;
    text-align: center;

}

.project-list-content:hover .read_more_link .link_text {
    opacity: 1;
    text-indent: 0;
    margin-right: 6px;
    visibility: visible;
    transition: visibility .4s ease, margin-right .3s ease-out, text-indent .4s ease-out, opacity .4s ease
}

.link-text {
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 1px;
  text-decoration-color: #333 !important;
}

.link-text:hover {
  transform-style: preserve-3d;
  transform: translate3d(0%, 5px, 0px);
}
.link-text i {
  font-weight: 500;
  margin-left: 5px;
  transform: rotate(-45deg);
}
@media (max-width: 767px) {
  .link-text {
    font-size: 16px;
  }
}

// Custom Animation 

.img-custom-anim-left {
  animation: img-anim-left 1.3s forwards cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s;
  opacity: 0;
}

@keyframes img-anim-left {
  0% {
    transform: translateX(-5%);
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}
.img-custom-anim-right {
  animation: img-anim-right 1.3s forwards cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s;
  opacity: 0;
}

@keyframes img-anim-right {
  0% {
    transform: translateX(5%);
    clip-path: inset(0 0 0 100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}
.img-custom-anim-left {
  animation: img-anim-left 1.3s forwards cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s;
  opacity: 0;
}

@keyframes img-anim-left {
  0% {
    transform: translateX(-5%);
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}
.img-custom-anim-top {
  animation: img-anim-top 1.3s forwards cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 0;
}

@keyframes img-anim-top {
  0% {
    transform: translateY(-5%);
    clip-path: inset(0 0 100% 0);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}
.img-custom-anim-bottom {
  animation: img-anim-bottom 1.3s forwards cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 0;
}

@keyframes img-anim-bottom {
  0% {
    transform: translateY(5%);
    clip-path: inset(0 0 100% 0);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}