
/* 28. CTA CSS  */

.cta-img-area{
    position: relative;
    z-index: 1;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    @media #{$xs}{
      height: 350px;
    }
    
    .cta-inner {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;  
      align-items: center;
      
    }
  
    h2 {
      font-size: 65px;
      font-weight: 400;
      line-height: 75px;
      @media #{$md} {
          font-size: 60px;
          line-height: 70px;
          br{
            display: none;
          }
      }      
      @media #{$xs} {
          font-size: 35px;
          line-height: 45px;
          br{
            display: none;
          }
      }      
      
    }
  }
  
  
