
/* 18. Hero Area  */

// Hero Area # 02

#home-2 {
    .single-slide-item {
        background-image: url(../img/slider/slide-1.jpg);
        background-size: cover;
        background-position: center;
        background-color: #ddd;
        color: #fff;
        width: 100%;
        height: 100vh;
        position: relative;
        z-index: 1;   
        @media #{$xs} {
            height: 700px;
        }
        .project-info-wrapper{
            padding: 100px 0;
            @media #{$xs} {
            padding: 150px 0;
        }
        }
        .project-info-wrapper h6 {
            font-size: 14px;
            text-transform: uppercase;
            color: #fff;
            letter-spacing: 2px;
        }

        .project-info-wrapper h1 {
            text-transform: uppercase;
            font-size: 80px;
            font-weight: 400;
            @media #{$lg}{
                font-size: 75px;
            }
            @media #{$md}{
                font-size: 60px;
            }
            @media #{$xs}{
                font-size: 40px;
            }
        }   
    }

    .hero-area-content {
        padding-top: 120px;
        padding-left: 80px;
        @media #{$md}{
            padding-left: 20px;
        }
        @media #{$xs}{
            padding-left: 0;
            padding-top: 0;
        }
    }
  
}

// Owl Dots

.homepage-slides .owl-dots button.owl-dot span {
	width: 10px;
	height: 10px;
	background: #ddd;
	margin-right: 10px;
}

.homepage-slides .owl-dots button.owl-dot.active span {
	width: 10px;
	height: 10px;
	background: #333;
}

.homepage-slides .owl-dots {
	text-align: right;
    margin-top: -80px;
    z-index: 999;
    position: absolute;
    right: 50px;
}

// Hero Area # 03

#home-3{

    &.hero-area {
        position: relative;
        z-index: 1;
    }

    &.hero-area:before{
        background-image: url(../img/hero-img.jpg);
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        width: 45%;
        height: 100%;
        background-size: cover;
        background-position: center;
        @media #{$lg}{
            width: 50%;
        }
        @media #{$md}{
            display: none;
        }
        @media #{$xs}{
            display: none;
        }
    }

    .hero-content-wrap {
        padding-right: 120px;
        @media #{$xs}{
            padding-right: 0;
        }
    }

    .section-title h1{
        text-transform: uppercase;
        font-size: 70px;
        font-weight: 500;
        line-height: 80px;
        letter-spacing: 2px;
        @media #{$lg}{
            font-size: 60px;
            line-height: 70px;
            letter-spacing: 1px;
        }
        @media #{$xs}{
            font-size: 35px;
            line-height: 45px;
            margin-bottom: 20px;
        }
        @media #{$sm}{
            font-size: 50px;
            line-height: 60px;
            margin-bottom: 20px;
        }
    }

    .video-wrap {
        display: inline-flex;
        align-items: center;
        gap: 20px;
        @media #{$xs}{
            margin-top: 30px;
        }
    }
    
    .video-play-btn {
        width: 60px;
        height: 60px;
        border: 1px solid #ddd;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        position: relative;
        z-index: 999;
        font-size: 20px;
        line-height: 1;
        color: $primary_color;
        &:hover{
            background: $primary_color;
            color: #fff;
        }
      }
}



