/* 21. Project CSS  */

// Project # 01

#project-1{
.single-project-item{
    margin-bottom: 30px;
}

.project-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    @media #{$md}{
        flex-direction: column;
        align-items: start;
    }
    @media #{$xs}{
        flex-direction: column;
        align-items: start;
    }
}

.project-title h5 {
    text-transform: uppercase;
    letter-spacing: 2px; 
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 8px;
    text-decoration-color: #ddd;   
}

.project-meta {
    @media #{$md}{
        margin-top: 10px;
    }
    @media #{$xs}{
        margin-top: 10px;
    }
}

.project-meta span {
    display: block;
    font-size: 15px;
}

.project-img img {
  width: 100%;
  object-fit: cover;
  transition: all 0.35s ease-in-out;  
}

.project-img img:hover {
  transform: scale(1.07);  
}

}

// Project # 02

#project-2{
    .project-bg {
	background-image: url(../img/project/project-1-1.jpg);
}

.project-bg-2 {
	background-image: url(../img/project/project-1-2.jpg);
}

.project-bg-3 {
	background-image: url(../img/project/project-1-3.jpg);
}

.project-bg-4 {
	background-image: url(../img/project/project-1-4.jpg);
}

.project-bg-5 {
	background-image: url(../img/project/project-1-5.jpg);
}

.project-bg-6 {
	background-image: url(../img/project/project-1-6.jpg);
}

.single-project-item.bg-cover {
	height: 450px;
}

.single-project-item {
	position: relative;
	z-index: 1;	
    
    &:after {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #000;
        opacity: .2;
        z-index: -1;
        content: "";
    }
    
}

.project-inner .hover-info {
	position: absolute;
	left: 0;
	bottom: 20px;
	transform: translateY(50px);
	width: 100%;
	z-index: 2;
	padding: 35px 40px 35px 38px;
	max-width: 500px;
	transition: all ease 0.3s;
	transition-delay: 0.07s;
}

.single-project-item:hover .hover-info {
	opacity: 1;
	transform: translateY(0);
}

.project-inner:after {
	content: " ";
	width: 100%;
	height: 100%;
	background-color: #252531;
	display: block;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0px;
	transition: all ease 0.3s;
}

.single-project-item:hover .project-inner:after {
	opacity: .6;
}

.hover-info h4 {
	font-size: 24px;
	color: #fff;
	margin-bottom: 15px;
	transform: translateY(0px);
	transition: .3s;

    @media #{$lg}{
        font-size: 22px;
    }

    @media #{$md}{
        font-size: 20px;
    }

    @media #{$xs}{
        font-size: 18px;
    }

    span {
        display: block;
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0;
        margin: 5px 0;
        opacity: 0;
        transform: translateY(-200px);
    }
}

.hover-info a {
	color: #fff;
	font-size: 16px;
}

.project-inner .project-icon {
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0;
	z-index: 2;
	transition: all ease 0.3s;
	font-size: 30px;
	cursor: pointer;
	background: #171717;
	color: #fff;
	padding: 15px;
	transform: translate3d(0, -100%, 0);
	transition: .3s;
}

.single-project-item:hover .project-icon {
	opacity: 1;
	transform: translate(0, 0);
}

.single-project-item:hover .hover-info h4 {
	color: #FFF;
	transform: translateY(20px);
}

.single-project-item:hover .hover-info h4 span {
	opacity: 1;
	transform: translateY(0);
}

.project-slider .owl-nav button.owl-prev,
.project-slider .owl-nav button.owl-next {
	width: 50px;
	height: 50px;
	border: 2px solid;
	font-size: 20px;
	font-weight: 100;
	line-height: 16px;
	position: absolute;
	left: 15px;
	top: 50%;
	margin-top: -25px;
	color: #fff;
	-webkit-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s;
}

.project-slider .owl-nav button.owl-next {
	left: auto;
	right: 15px;
}


.project-slider .owl-nav button.owl-prev:hover,
.project-slider .owl-nav button.owl-next:hover {
	background: #171717;
	color: #fff;
	border-color: #171717;
}

}

// Project - 03 [Masonry]

.project-menu {
    @media #{$xs} {        
        text-align: center;
    }
  }

.project-menu li a {
    cursor: pointer;
    display: block;    
    color: #808996;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 16px;
    padding: 8px 15px;
    transition: all 0.5s;
    margin-top: 5px;
	padding-left: 0;
    @media #{$xs}{
        padding: 8px 6px;
    }
}
.project-menu a.active,
.project-menu a:hover {
    color: #000;
}
.project-item {
    position: relative;
    padding: 10px;
}
.project-box {
    overflow: hidden;
    position: relative;
}
.project-box .project-img {
    position: relative;
    overflow: hidden;
    border-radius: 0;
}
.project-box .project-img:after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}
.project-box .project-img>img {
    transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
    border-radius: 0;
}
.project-box .project-detail {
    opacity: 0;
    color: #FFF;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    overflow: hidden;
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
    text-align: center;
}
.project-box .project-detail h4 {
    color: #fff;
    font-size: 20px;
}

.project-box .project-detail p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 5px;
}

.project-box .project-detail p i {
    color: #fff;
    font-size: 20px;
}
.project-box:hover .project-detail {
    top: 50%;
    transform: translate(0, -50%);
    opacity: 1;
}
.project-box:hover .project-img:after {
    background: rgb(23 23 23 / 87%);
}
.project-box:hover .project-img>img {
    transform: scale(1.05);
}

.white-popup-block{
    background: #FFF;
    padding: 30px 15px 15px 15px;
    text-align: left;
    max-width: 650px;
    margin: 40px auto;
    position: relative;
}

button.mfp-arrow {
    display: none;
}

.mfp-counter {
    display: none;
}


.project-item.minus-top {
    margin-top: -150px;
    @media #{$md} {        
        margin-top: -100px;
    }
    @media #{$xs} {        
        margin-top: 0;
    }
}

.project-item p {
    margin: 0;
    margin-top: 15px;
}


// Project # Standard 

#project-standard{
	.single-project-wrapper{
		margin-bottom: 60px;
	}
	
	.project-title {
		position: relative;
		padding-left: 30px;
	
		&:before {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 3px;
			height: 100%;
			background: #ddd;
		}
		h3 {
			font-size: 24px;
			margin-top: 20px;
		}
		
		h6 {
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 500;
			letter-spacing: 3px;
			color: #8b8b8b;
			margin-top: 5px;
		}
		
		a {
			font-size: 17px;
			margin-top: 6px;
		}
	}
	
	
	.project-slider-2 .owl-stage-outer {
		overflow: inherit;
	}
	
	.project-slider-2:before,
	.project-slider-2:after {
	  position: absolute;
	  content: "";
	  width: 500%;
	  height: 100%;
	  top: 0;
	  left: -500%;
	  background: #000;
	  opacity: .7;
	  z-index: 1;
	}
	
	.project-slider-2:after {
	  left: auto;
	  right: -500%;
	}
	
}

// Project- Metro Fullwidth

#project-metro {

	.single-project-wrap{
		position: relative;
		z-index: 1;
		@media #{$xs}{
			width: 100%;
		}
		img{
			width: 100%;
			object-fit: cover;
		}
		&.big img {
			height: 700px;		
			@media #{$xs} {
				height: 350px;
			}
		}
		&.small img {
			height: 350px;
			width: 430px;
		}
		&.wide img {
			height: 350px;
		}
	}
	
	.single-project-wrap .details {
		background: #000;
		width: 100%;
		height: 100%;
		padding: 50px 35px;
		text-align: center;
		position: absolute;
		left: 0;
		top: 0;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	  }
	  
	  
	  .single-project-wrap .info {
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		opacity: 0;
		margin-top: -20px;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	  }
	  
	
	  .single-project-wrap h5 {
		font-size: 22px;
		color: #fff;
		margin-bottom: 10px;
	  }
	
	  .single-project-wrap h6 {
		font-size: 18px;
		color:#fff;
	  }
	  
	  .single-project-wrap:hover .details {
		opacity: .8;
		visibility: visible;
		top: 0;
	  }
	  
	  .single-project-wrap:hover .details .info {
		opacity: 1;
		margin-top: 0;
	  }
	
}


// Project - List 

.project-list-content .section-title h2 {
    font-size: 45px;
    letter-spacing: 0;
}

.project-list-content {
    padding-left: 60px;
    max-width: calc(100% - 80px);
	@media #{$md, $xs}{
		padding-left: 0;
		margin-top: 30px;
		max-width: calc(100% - 40px);
	}
}



// Project - Grid

#project-grid{
	.single-project-item {		
		position: relative;
		z-index: 1;
		overflow: hidden;	
        margin-bottom: 30px;
        border-bottom: none;
		@media #{$md, $xs}{
			margin-bottom: 30px;
		}

		.project-info{
			position: absolute;
			transition: all .4s;
			transform: translateY(100%);
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			padding: 20px 25px 15px;
			width: 70%;
			max-width: 70%;
			background-color: #fff;
			opacity: 0;
			text-align: center;
			h5 {
				font-size: 20px;
				font-weight: 500;
				margin-bottom: 3px;
			}
			p{
				margin: 0;
				color: #777;
			}
		}

		&:hover {			
			.project-info{
				transition: all .4s;
				transform: translateY(0);
				bottom: 40px;
				opacity: 1
			}
		}

		
	}
	
}

// Project Slider 

.project-slider-2 .owl-nav button.owl-prev,
.project-slider-2 .owl-nav button.owl-next {
  border: 1px solid #ddd;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.project-slider-2 .owl-nav button.owl-prev:hover,
.project-slider-2 .owl-nav button.owl-next:hover {
  background: $theme_color;
  border-color: $theme_color;
  color: #fff;

}

.project-slider-2 .owl-nav {
  position: absolute;
  bottom: -40px;
  left: 0;
  display: flex;
}

.project-slider-2 .owl-nav i {
  font-size: 20px;
}


// Project Details 


.project-details {
    max-width: calc(100% - 60px);
	@media #{$xs} {
		max-width: calc(100% - 0px);
		text-align: justify;
	}
}

.project-info-wrap {
    margin-top: 80px;
	@media #{$xs} {
		margin-top: 40px;
	}
}

.project-details h2 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.project-info h6 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0;
}

.project-details-img img {
	margin-bottom: 30px;
  }

.project-details-wrapper .single-counter-box{
	text-align: center;
}

.project-details-wrapper .single-counter-box p.counter-number {
	border-bottom: 1px solid #ddd;
}

.project-details-wrapper h3 {
    margin-bottom: 20px;
}

.project-details-wrapper .single-counter-box p.counter-number span{
    font-size: 50px;
}