
/* 20. Services CSS */

// Service # 01

.single-service-item {
    position: relative;

    &:last-child {
        border-bottom: 1px solid #ddd;
    }
    .single-service-inner {
        border-top: 1px solid #ddd;
        position: relative;
        z-index: 1;
        padding: 50px 0;
        @media #{$xs} {
            padding: 40px 0;
        }
    
        &:nth-of-type(4) {
            border-bottom: 1px solid #ddd;
        }
    
        h5 {
            text-transform: uppercase;
            font-size: 50px;
            font-weight: 400;
            color: $primary_color;
            transition: 0.4s linear;
            letter-spacing: 1px;

            @media #{$md} {
                font-size: 40px;
            }
            
            @media #{$xs} {
                font-size: 18px;
                line-height: 28px;
            }
    
            span {
                font-size: 18px;
                position: relative;
                top: -45px;
    
                @media #{$xs} {
                    font-size: 16px;
                    top: -35px;
                }
            }
    
            
    
        }
    
        p {
            font-size: 18px;
            font-weight: 400;
            margin: 26px 0;
            padding-right: 50px;
    
            @media #{$lg} {
                margin: 20px 0;
            }
    
            @media #{$xs} {
                padding-right: 75px;
            }
        }
    
        .details-link {            
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
    
            i {
                font-size: 30px;
                color: inherit;
                transform: rotate(-45deg);
                transition: .3s;
            }
    
        }
    
        &:nth-of-type(4) {
            .details-link {
                bottom: 30px;
            }
        }
    
        &:hover h5 {
            color: $primary_color;
            
        }
    
        &:hover h5 span{
            color: $body_text;
        }
    
        &:hover .details-link i {
            transform: rotate(180deg);
        }
    }
}

.service-img {
    width: 25%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset-inline-end: 10%;
    top: 115px;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s linear;
    z-index: 9;
    &.img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

.single-service-item:nth-child(5) .service-img {
    top: -60px;

    @media #{$lg} {
        top: -60px;
    }

    @media #{$md} {
        top: -60px;
    }

    @media #{$xs} {
        top: 80px;
    }
}

.single-service-item:last-child .service-img {
    top: -210px;

    @media #{$lg} {
        top: -200px;
    }

    @media #{$md} {
        top: -50px;
    }

    @media #{$xs} {
        top: 80px;
    }
}

.single-service-item .service-img img {
    width: 100%;
}

.single-service-item:hover .service-img {
    opacity: 1;
    visibility: visible;
    inset-inline-end: 20%;

    @media #{$md} {
        inset-inline-end: 10%;
    }
}

// Service Page 

#service_page {

    .section-title span i {        
        font-size: 60px;
        @media #{$xs}{
            display: none;
        }
    }

    .section-title i {                
        @media #{$xs}{
            display: none;
        }
    }

    .hero-area-content {
        padding-left: 75px;
        margin-top: 30px;
        margin-bottom: 50px;
        @media #{$md} {            
            padding-left: 0px;
        }
        @media #{$xs} {            
            padding-left: 0px;
        }
        h1 {
            font-size: 80px;
            font-weight: 500;
            line-height: 90px;
            @media #{$lg} {
                font-size: 70px;
            }
            @media #{$md} {
                font-size: 60px;
                line-height: 70px;
                padding-left: 50px;
            }
            @media #{$xs} {
                font-size: 40px;
                line-height: 50px;
                padding-left: 0px;
            }
        }
        span.meta {
            color: #a39d9d;
            position: relative;
            bottom: -77px;
            @media #{$xs} {         
                bottom: 15px;                
            }
        }
    }
    
    h1.first_line {
        padding-left: 160px;
        @media #{$xs} {         
            padding-left: 0px;
        }
    }
    
    h1.third_line {
        padding-left: 0;
        @media #{$xs} {         
            padding-left: 0px;
        }
    }

    .single-feature-item{
        margin-top: 0;
    }

}

// Service # 02

.single-service-wrap {
    border: 1px solid #ddd;
    padding: 40px;
    margin-bottom: 30px;
}

.service-icon img {
    width: 50px;
}

.service-icon {
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
}

.service-icon i:before {
    font-size: 50px;
}

h4.service-title {
    margin: 30px 0 20px;
}

p.service-content {
    font-size: 15px;
    margin: 0;
}

.service-slider .owl-stage-outer {
  padding-right: 1px;
}

// Owl Dots

.service-slider .owl-dots button.owl-dot span {
	width: 10px;
	height: 10px;
	background: #ddd;
	margin-right: 10px;
}

.service-slider .owl-dots button.owl-dot.active span {
	width: 35px;
	height: 10px;
	background: $theme_color;
}

.service-slider .owl-dots {
	text-align: center;
	margin-top: 50px;
}