
// Font Family

$grotesk: 'Space Grotesk', sans-serif;

// Colors ---------------

$theme_color:#1D1E21;
$primary_color:#0A0A0A;
$secondary_color:#1B1E22;
$body_text: #868686;
$text_dark: #181818;

// Responsive Variables
$xl: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 540px) and (max-width: 767px)';



