body {
    font-family: Arial;
    background: #eee;
}

.barfiller {
    width: 100%;
    height: 2px;
    background: #333;
    position: relative;
    margin-bottom: 10px;
}

.barfiller span.fill {
    display: block;
    position: relative;
    width: 1px;
    height: 100%;
    background: #fff !important;
    z-index: 1;
}

.barfiller .tipWrap {
    display: none;
}

.barfiller .tip {
    margin-top: -30px;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    left: 40%;
    position: absolute;
    z-index: 2;
    background:#C5853A;
    display: none;
}

.single-bar-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-bar-item h5 {
    font-size: 18px;
    font-weight: 400;
    margin: 15px 0;
}

.bar-parcentage {
    font-size: 16px;
    font-weight: 600;
}

